@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

:root {
  /* background colors */
  --splash-screen-blue-background: #0077b6;
  --cold-blue-background: #0096c7;
  --colder-blue-background: #00b4d8;
  --warmer-yellow-background: #ff8500;

  /* font colors */
  --splash-screen-off-white-text: #fff8e8;
  /* same font color for both states */
  --cold-colder-off-white-text: #fffcf4;
  --warmer-off-white-text: #fff1d0;
}

#root {
  font-family: "Lato", sans-serif;
  background-color: var(--splash-screen-blue-background);
  color: var(--splash-screen-off-white-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

#root.root--cold {
  background-color: var(--cold-blue-background);
  color: var(--cold-colder-off-white-text);
}

#root.root--colder {
  background-color: var(--colder-blue-background);
  color: var(--cold-colder-off-white-text);
}

#root.root--warmer {
  background-color: var(--warmer-yellow-background);
  color: var(--warmer-off-white-text);
}

.test-element {
  height: 30px;
  background-color: aquamarine;
}
