* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

#root {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.test-element {
  height: 30px;
  background-color: aquamarine;
}
