@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  text-align: center;
  letter-spacing: 0.008em;
}

:root {
  /* background colors */
  --splash-screen-blue-background: #0077b6;
  --cold-blue-background: #0096c7;
  --colder-blue-background: #00b4d8;
  --warmer-yellow-background: #ff8500;

  /* font colors */
  --splash-screen-off-white-text: #fff8e8;

  /* same font color for both states */
  --cold-colder-off-white-text: #fffcf4;

  /* this is also used for the search button */
  --warmer-off-white-text: #fff1d0;
  --search-button-hover: #fffcdb;
  --search-button-pressed: #f6e8c7;

  /* this is just for the inputs, its based on cold-blue-background with 80% opacity */
  --splash-screen-inputs-blue-text: #0096c7cc;
  --border-radius: 4px;
}

#root {
  font-family: Lato, sans-serif;
  background-color: var(--splash-screen-blue-background);
  color: var(--splash-screen-off-white-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

#root.root--cold {
  background-color: var(--cold-blue-background);
  color: var(--cold-colder-off-white-text);
}

#root.root--colder {
  background-color: var(--colder-blue-background);
  color: var(--cold-colder-off-white-text);
}

#root.root--warmer {
  background-color: var(--warmer-yellow-background);
  color: var(--warmer-off-white-text);
}

/* SPLASH PAGE */

.mainheading {
  margin-top: 189px;
  font-weight: 400;
  font-size: 84px;
  transition: all 0.6s ease-in-out;
}

.instructions {
  margin-top: 35px;
  font-weight: 300;
  font-size: 36px;
}

.inputs {
  margin-top: 56px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputs__input {
  height: 32px;
  width: 200px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--splash-screen-off-white-text);
  color: var(--splash-screen-inputs-blue-text);
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  padding-left: 6px;
}

.inputs__input::placeholder {
  color: var(--splash-screen-inputs-blue-text);
  opacity: 1;
}

.inputs__btn {
  height: 32px;
  width: 90px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--warmer-off-white-text);
  color: var(--splash-screen-inputs-blue-text);
  font-weight: 300;
  font-size: 20px;
}

.inputs__btn:hover {
  background-color: var(--search-button-hover);
  transform: scale(1.05);
}

.inputs__btn:active {
  background-color: var(--search-button-pressed);
  transform: scale(0.95);
}

/* RESPONSE PAGE */

/* this is so the heading moves up in the other page */
.mainheading--datareturned {
  /* this is the margin-top in figma but its not great on desktop somehow */

  /* margin-top: 150px; */
  margin-top: 112px;
  font-weight: 300;
  font-size: 42px;
}

.oneword {
  font-size: 336px;

  /* the lineheight of such a large font adds alot of margin
  these negative values are to manage that */
  margin-top: -64px;
  margin-bottom: -72px;
  animation: fade-in 2s ease-in;
}

.sentences {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;

  /* PLACEHOLDER FOR TRANSITION TWEAKING */
  transition: all 0.6s ease-in-out;
}

.sentences__sentence {
  font-weight: 300;
  font-size: 36px;
}

.weatherboxes {
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap: 200px;

  /* PLACEHOLDER FOR TRANSITION TWEAKING */
  transition: all 0.6s ease-in-out;
}

.weatherboxes__box {
  width: 310px;
  height: 248px;

  /* need to make this variable */
  border: 4px solid var(--cold-colder-off-white-text);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.weatherboxes__location {
  margin-top: 16px;
  font-size: 24px;
}

.weatherboxes__date {
  margin-top: 9px;
  font-weight: 300;
  font-size: 18px;
}

.weatherboxes__temperature {
  margin-top: -18px;
  font-size: 164px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* smartphone */
@media (max-width: 500px) {
  /* SPLASH PAGE */
  .mainheading {
    margin-top: 128px;
    font-size: 28px;
  }

  .instructions {
    margin-top: 18px;
    font-size: 18px;
    padding: 0 20px;
  }

  .inputs {
    margin-top: 24px;
    flex-direction: column;
    gap: 16px;
  }

  .inputs__input {
    height: 24px;
    width: 184px;
    font-size: 14px;
  }

  .inputs__input::placeholder {
    font-size: 14px;
  }

  .inputs__btn {
    height: 32px;
    width: 90px;
    font-size: 18px;
  }

  /* RESPONSE PAGE */
  .mainheading--datareturned {
    margin-top: 92px;
    font-size: 20px;
    font-weight: 400;
  }

  .oneword {
    font-size: 188px;
    margin-top: -32px;
    margin-bottom: -17px;
  }

  .sentences {
    margin-top: 0;
    gap: 12px;
    padding: 0 52px;
  }

  .sentences__sentence {
    font-size: 18px;
  }

  .weatherboxes {
    margin-top: 24px;
    gap: 20px;
  }

  .weatherboxes__box {
    border-width: 1px;
    height: 116px;
    width: 144px;
  }

  .weatherboxes__location {
    margin-top: 6px;
    font-size: 12px;
  }

  .weatherboxes__date {
    margin-top: 4px;
    font-size: 10px;
  }

  .weatherboxes__temperature {
    margin-top: -12px;
    font-size: 82px;
  }
}
